*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}



body {
	height: 100%;
	font-family: sans-serif;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 0;
}
.fullscreen {
	min-height: 100vh;
	display: flex;
}
.headre {
	width: 100%;
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
   background-color: rgba(255, 255, 255, 0.829);
}
.header__container {
	max-width: 1310px;
	margin: 0px auto;
}
.header__row {
}
.header__body {
	display: flex;
	align-content: center;
	padding: 5px 0px;
   justify-content: space-between;
}
.body__log {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #444;
	margin: 0px 20px 0px 0px;
}
.fullscreen__title {
}
.header__menu {
	display: flex;
	align-items: center;
}
.menu__list {
}
.menu__list span {
	color: rgb(255, 176, 5);
	font-size: 22px;
}
.menu__list {
	position: relative;
	display: flex;
}
.menu__list>li{
	margin: 0px 10px 0px 10px;
}
.menu__link {
	color: #222;
	font-size: 18px;
	margin: 0px 5px;
	transition: all 0.3s ease 0s;
}
.menu__link2 {
	color: #222;
	font-size: 18px;
	margin: 0px 5px;
	transition: all 0.3s ease 0s;
}
.menu__link1 {
   cursor: pointer;
   font-size: 18px;
}
.menu__link:hover {
	color: rgb(255, 167, 2);
}
.menu__link2:hover {
	color: rgb(255, 167, 2);
}
.menu__list>li:hover .sub-menu__list{
	transform: scale(1);
}
.sub-menu__list {
	transform: scale(0);
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	left: 0;
	top: 20px;
	padding: 10px 0px 0px 0px;
	width: 360px;
	transition: all 0.3s ease 0s;
}
.sub-menu__list>li {
	background-color: #fff;
	padding: 10px 10px;
}
.sub-menu__list li:nth-child(1) {
	border-radius: 5px 0px 0px 0px;
}
.sub-menu__list li:nth-child(5) {
	border-radius: 0px 0px 0px 5px;
}
.sub-menu__list li:nth-child(2) {
	border-radius: 0px 5px 0px 0px;
}
.sub-menu__list li:nth-child(6) {
	border-radius: 0px 0px 5px 0px;
}
.sub-menu__link {
	color: #222;
	font-size: 18px;
}
.sub-menu__link:hover {
color: #555;
}
.background__photo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.background__photo img {

}

.header__grade {
}
.img__icon {
	display: block;
	width: 40px;
	border: 2px solid rgb(255, 238, 6);
	border-radius: 50%;
	padding: 5px;
}
.img__icon svg {
   fill: rgb(245, 224, 36);
}
.img__icon svg:hover {
   fill: rgb(245, 179, 36);
}
.img__icon img{
max-width: 100%;
}
.header__cal {
	display: block;
	background-color: rgb(151, 119, 29);
	border-radius: 5px;
	height: 40px;
	padding: 0px 10px;
	transition: all 0.3s ease 0s;
}
.header__cal:hover {
	background-color: rgb(126, 97, 18);
}
.header__grade,
.header__cal {
	margin: 10px 0px 0px 0px;
}
.header__cal p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 36px;
}
@media(max-width: 1278px) {
   .menu__link2 {
      display: none;
   }

}
.block {
	width: 100%;
	position: relative;
	margin: 120px 0px 0px 0px;
	color: #fff;
}
.block__container {
	max-width: 1000px;
	margin: 0px auto;
}
.block__body {
}
.block__name {
	font-size: 22px;
	margin: 0px 0px 20px 0px;
}
.block__title {
	font-size: 68px;
	font-weight: 700;
}
.line {
	width: 100%;
	position: relative;
	margin: 50px 0px 0px 0px;
}
.line__container {
	max-width: 1000px;
	margin: 0px auto;
}
.line__row {
	display: flex;
	flex: 0 1 50%;
	flex-wrap: wrap;
	margin: 0px -10px;
}
.line__column {
	font-size: 18px;
	color: #fff;
	padding: 8px 10px;
}
.line__item {
	background-color: rgb(255, 166, 0);
	padding: 10px 10px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}
.line__item:hover {
	background-color: rgb(247, 109, 17);
	
}

.card {
	width: 100%;
	margin: 50px 0px 0px 0px;
}
.card__container {
	max-width: 1000px;
	margin: 0px auto;
}
.card__row {
	display: flex;
	flex: 0 1 20%;
}
.card__columns {
	margin: 0px 9px;
}
.card__item {
	display: block;
	background-color: #fff;
	padding: 20px 20px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}
.card__item:hover {
	transform: scale(1.1);
	box-shadow: 5px 2px 20px rgb(0, 0, 0);;
}
.card__title {
	font-size: 22px;
	color: rgb(252, 127, 11);
	font-weight: 600;
}
.card__price {
	font-size: 16px;
	color: #333;
	margin: 15px 0px 0px 0px;
	text-align: center;
}

.info {
	width: 100%;
	margin: 80px 0px 50px 0px;
}
.info__container {
	max-width: 1000px;
	margin: 0px auto;
}
.info__row {
	display: flex;
}
.info__big {
	flex: 0 1 70%;
	margin: 0px 30px 0px 0px;
}
.info__item-big {
}
.info__title {
	font-size: 48px;
	line-height: 60px;
	font-weight: 700;
	color: #222;
	margin: 0px 0px 20px 0px;
}
.info__text {
}
.info__text p {
	margin: 20px 0px;
	font-size: 16px;
	line-height: 26px;
}
.info__text p:last-child {
	margin: 0px 0px;
}
.info__little  {
	max-width: 300px;

}
.info__item-little {
}
.little__tittle p {
	font-size: 18px;
	color: #222;
	line-height: 24px;
	margin: 0px 0px 10px 0px;

}
.little__tittle p:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(252, 127, 11);
	margin: 0px 10px 0px 0px;

}
.little__tittle-sub {
	width: 250px;
	line-height: 22px;
	color: #222;
	margin: 0px 0px 30px 0px;
}
.little__tittle-sub:last-child {
	margin: 0px 0px 0px 0px;
}
/*слайдер*/
.slick-slider {}
/*ОГраничивающая оболочка*/
.slick-list {
   overflow: hidden;
}
/*Лента слайдов*/
.slick-track {
   display: flex;
}

/*Слайд*/
.slick-slide {}
/*Слайд активный*/
.slick-slide.slick-active {}
/*Слайд основной*/
.slick-slide.slick-current {}
/*Слайд по центру*/
.slick-slide.slick-center {}

/*Стрелка*/
.slick-arrow {}
/*Стрелка в лево*/
.slick-arrow.slick-prev {}
/*Стрелка в право*/
.slick-arrow.slick-next {}
/*Стрелка не активна*/
.slick-arrow.slick-disabled {}

/*точки*/
.slick-dots {}
.slick-dots li {}
.slick-dots button {}

/*Конктретный слайдер*/
.slider {
	position: relative;
	margin: 0px auto;
	width: 90%;
	padding: 0px 50px;
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev {
	background: url(../img/arrow-left-solid.svg) 0 0 / 100% no-repeat;
	left: 0;
}
.slider .slick-arrow.slick-next {
	right: 0;
	background: url(../img/arrow-right-solid.svg) 0 0 / 100% no-repeat;
}
.slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}
.slider .slick-dots li {
   list-style: none;
   margin: 0px 10px;
}
.slider .slick-dots button {
   font-size: 0;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #222;
}
.slider .slick-dots li.slick-active button {
   background-color: transparent;
   border: 1px solid #000;
}
.slider__item {
	height: 500px;
	position: relative;
}
.slider__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
@media(max-width: 1110px) {
   .slider {
      max-width: 80%;
   }
   .slider__item {
      height: 400px;
      position: relative;
   }
}
@media(max-width: 768px) {
   .slider {
      max-width: 60%;
   }
   .slider__item {
      height: 100px;
      position: relative;
   }
   .slider .slick-dots button {
      width: 7px;
      height: 7px;
   }
   .slider .slick-arrow {
      width: 20px;
      height: 50px;
   }
   .slider {
      padding: 0px 30px;
   }
}
.text-slaid {
	width: 100%;
   margin: 0px 0px 100px 0px;
}
.text__container {
	max-width: 900px;
	margin: 0px auto;
}
.text__container p {
	font-size: 18px;
	line-height: 24px;
	color: #333;
}

/*слайдер*/
.slick-slider {}
/*ОГраничивающая оболочка*/
.slick-list {
   overflow: hidden;
}
/*Лента слайдов*/
.slick-track {
   display: flex;
}

/*Слайд*/
.slick-slide {}
/*Слайд активный*/
.slick-slide.slick-active {}
/*Слайд основной*/
.slick-slide.slick-current {}
/*Слайд по центру*/
.slick-slide.slick-center {}

/*Стрелка*/
.slick-arrow {}
/*Стрелка в лево*/
.slick-arrow.slick-prev {}
/*Стрелка в право*/
.slick-arrow.slick-next {}
/*Стрелка не активна*/
.slick-arrow.slick-disabled {}

/*точки*/
.slick-dots {}
.slick-dots li {}
.slick-dots button {}

/*Конктретный слайдер*/
.slid-avinue{
	position: relative;
	width: 650px;
	padding: 0px 0px;
}
.slid-avinue .slick-arrow {
	position: absolute;
	top: 440px;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slid-avinue .slick-arrow.slick-prev {
	background: url(../img/arrow-left-solid.svg) 0 0 / 100% no-repeat;
	left: 150px;
}
.slid-avinue .slick-arrow.slick-next {
	right: 150px;
	background: url(../img/arrow-right-solid.svg) 0 0 / 100% no-repeat;
}
.slid-avinue .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}
.slid-avinue .slick-dots li {
   list-style: none;
   margin: 13px 10px;
}
.slid-avinue .slick-dots button {
   font-size: 0;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #222;
}
.slid-avinue .slick-dots li.slick-active button {
   background-color: transparent;
   border: 1px solid #000;
}
.slid-avinue__item2 {
	position: relative;
   height: 400px;
}
.slid-avinue__item2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slider-row {
   width: 100%;
   margin: 50px 0px 150px 0px;
}
.slider-row__container {
   max-width: 1000px;
   margin: 0px auto;
}
.slider-row__row {
   display: flex;
}
.slider-info {
   margin: 0px 0px 0px 50px;
}
.slider-info__title {
   font-size: 22px;
   color: rgb(231, 138, 16);
   line-height: 32px;
   margin: 0px 0px 20px 0px;
}
.slider-info__text {
   font-size: 18px;
   line-height: 28px;
}


/*слайдер*/
.slick-slider {}
/*ОГраничивающая оболочка*/
.slick-list {
   overflow: hidden;
}
/*Лента слайдов*/
.slick-track {
   display: flex;
}

/*Слайд*/
.slick-slide {}
/*Слайд активный*/
.slick-slide.slick-active {}
/*Слайд основной*/
.slick-slide.slick-current {}
/*Слайд по центру*/
.slick-slide.slick-center {}

/*Стрелка*/
.slick-arrow {}
/*Стрелка в лево*/
.slick-arrow.slick-prev {}
/*Стрелка в право*/
.slick-arrow.slick-next {}
/*Стрелка не активна*/
.slick-arrow.slick-disabled {}

/*точки*/
.slick-dots {}
.slick-dots li {}
.slick-dots button {}

.slider-info-bg {
   margin: 0px 50px 0px 0px;
}

.flex-element {
   width: 100%;
   margin: 70px 0px 0px 0px;
}
.flex-element__container {
   max-width: 1000px;
   margin: 0px auto;
}
.flex-element__row {
   display: flex;
   justify-content: space-between;
}
.flex-element-info {
}
.flex-element__title {
   font-size: 22px;
   color: rgb(255, 145, 0);
   line-height: 34px;
   margin: 0px 0px 20px 0px;
}
.flex-element-info__text {
   font-size: 18px;
   color: #222;
   line-height: 26px;
}
.flex-element__img {
   flex: 1 0 70%;
   padding: 10px;
}
