* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

ul,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body,
a,
li {
   font-family: sans-serif;
}

.wrapper {
   overflow: hidden;
}

.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   padding: 20px;
   z-index: 2;
}

.header:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   background-color: rgba(99, 99, 99, 0.863);
   width: 100%;
   height: 100%;
   z-index: 3;
}

.header__container {
   max-width: 1200px;
   margin: 0px auto;
}

.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   position: relative;
   z-index: 4;
   font-size: 30px;
   color: #24d624;
}

.header__list {
   position: relative;
   z-index: 4;
   display: flex;
}

.header__list li {
   margin: 0px 0px 0px 50px;
}

.header__list a {
   font-size: 18px;
   color: #fff;
   transition: all 500ms ease 0s;
}

.header__list a:hover {
   color: #24d624;
}

.cal {
   position: relative;
   z-index: 3;
   display: block;
   font-size: 18px;
   line-height: 24px;
   align-items: center;
   background-color: #275527;
   padding: 10px;
   color: #fff;
   transition: all 500ms ease 0s;
}

.cal:hover {
   background-color: #24d624;
}

.header__burger {
   display: none;
}

.cal2 {
   display: none;
}

.list__row {
   display: none;
}

.adress {
   display: none;
}

@media (max-width:768px) {
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
   }

   .header__burger:before,
   .header__burger:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.5s ease 0s;
   }

   .header__burger span {
      position: absolute;
      top: 9px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.5s ease 0s;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger:before {
      top: 0;
   }

   .header__burger.active:before {
      top: 9px;
      transform: rotate(45deg);
   }

   .header__burger:after {
      bottom: 0;
   }

   .header__burger.active:after {
      bottom: 9px;
      transform: rotate(-45deg);
   }

   .cal {
      display: none;
   }

   .header__list a {
      color: #0e3e79;
      font-size: 30px;
   }

   .header__list li {
      margin: 10px 20px;
   }

   .header__list {
      position: fixed;
      display: block;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fdfdfdd5;
      z-index: 1;
      padding: 90px 0 0 0;
      transition: all 0.5s ease 0s;
      overflow: auto;
   }

   .header__list.active {
      top: 0;
   }

   .cal2 {
      display: block;
      position: relative;
      top: 0;
      left: 0px;
      width: 25px;
      z-index: 3;
      fill: #24d624;
   }

   .list__row {
      display: flex;
   }

   .contact {
      display: block;
      width: 40px;
      fill: #275285;
      margin: 0px 15px;
   }

   .adress {
      display: block;
      font-size: 22px;
      color: #0e3e79;
      line-height: 32px;
      margin: 20px 0px 20px 20px;
   }
}

.front__img1 {
   width: 100%;
   height: 600px;
   position: relative;
}

.front__img1 img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position: center;
}


.about {
   position: relative;
   width: 100%;
   margin: 100px 0px 100px 0px;
}

.about::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: -20px;
   left: 0;
}

.about::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: 55px;
   left: 0;
}

.about__container {
   max-width: 1200px;
   margin: 0px auto;
}

.about__title {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   color: #3d3d3d;
   margin: 0px 0px 20px 0px;
}

.about__text {
   margin: 50px 0px 0px 0px;
   font-size: 22px;
   line-height: 32px;
   color: #5a5a5a;
   padding: 10px;
}

.about__text p {}

.nav {
   position: relative;
   margin: 100px 0px 0px 0px;
   width: 100%;
   color: #585858;
   background-color: rgb(37, 37, 37);
   padding: 50px 0px;
}

.nav::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: 30px;
   left: 0;
}

.nav::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: 110px;
   left: 0;
}

.nav__container {
   max-width: 1200px;
   margin: 0px auto;
}

.nav__title {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   margin: 0px 0px 40px 0px;
   color: #fff;
}

.nav__row {
   display: flex;
}

.nav__columns {
   flex: 0 1 33.333%;
   padding: 10px;
}

.front__img {
   width: 100%;
   height: 300px;
   position: relative;
   margin: 40px 0px 0px 0px;
}

.front__img img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position: center;
}

.nav__columns__text {
   font-size: 22px;
   line-height: 28px;
   color: rgb(231, 231, 231);
   text-align: center;
   margin: 10px 0px 0px 0px;
}

@media (max-width:768px) {
   .nav__item {
      margin: 0px 0px 0px 0px;
   }

   .nav__columns {
      flex: 1 1 auto;
   }

   .nav__row {
      flex-wrap: wrap;
   }
}

.object {
   position: relative;
   width: 100%;
   margin: 0px 0px 0px 0px;
   padding: 10px;
   background-color: rgb(37, 37, 37);
}

.object::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: 30px;
   left: 0;
}

.object__container {
   max-width: 1200px;
   margin: 0px auto;
}

.object__title {
   color: #202937;
   font-size: 40px;
   line-height: 28px;
   margin: 0px 0px 20px 0px;
   font-weight: 700;
}

.object__text {
   font-size: 18px;
   line-height: 24px;
   margin: 10px 0px 0px 0px;
}

@media (max-width:768px) {}

/*слайдер*/
.slick-slider {}

/*ОГраничивающая оболочка*/
.slick-list {
   overflow: hidden;
}

/*Лента слайдов*/
.slick-track {
   display: flex;
}

/*Слайд*/
.slick-slide {}

/*Слайд активный*/
.slick-slide.slick-active {}

/*Слайд основной*/
.slick-slide.slick-current {}

/*Слайд по центру*/
.slick-slide.slick-center {}

/*Стрелка*/
.slick-arrow {}

/*Стрелка в лево*/
.slick-arrow.slick-prev {}

/*Стрелка в право*/
.slick-arrow.slick-next {}

/*Стрелка не активна*/
.slick-arrow.slick-disabled {}

/*точки*/
.slick-dots {}

.slick-dots li {}

.slick-dots button {}

/*Конктретный слайдер*/
.slider {
   position: relative;
   margin: 50px 0px 100px 0px;
   padding: 0px 50px;
}

.slider .slick-arrow {
   position: absolute;
   top: 50%;
   z-index: 1;
   font-size: 0;
   width: 30px;
   height: 50px;
}

.slider .slick-arrow.slick-prev {
   left: 0;
   background: url('../img/arrow-left-original.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
   right: 0;
   background: url('../img/arrow-right-original.png') 0 0 / 100% no-repeat;
}

.slider__item {
   height: 600px;

}

.slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider .slick-dots li {
   list-style: none;
   margin: 0px 10px;
}

.slider .slick-dots button {
   margin: 20px 0px 0px 0px;
   font-size: 0;
   width: 10px;
   height: 10px;
   background-color: transparent;
   border: 1px solid #24d624;
   border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
   background-color: #10a310;
   border: 1px solid #10a310;
}

.slider__item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

@media (max-width:768px) {
   .slider__item {
      height: 400px;
   }

   .slider {
      padding: 0px;
   }

   .slider .slick-arrow {
      top: 98%;
   }

   .slider .slick-arrow.slick-prev {
      left: 70px;
   }

   .slider .slick-arrow.slick-next {
      right: 70px;
   }
}

@media (max-width:415px) {
   .slider .slick-arrow {
      top: 95%;
   }

   .slider .slick-arrow.slick-prev {
      left: 10px;
   }

   .slider .slick-arrow.slick-next {
      right: 10px;
   }
}

.map__first {
   background-color: rgb(37, 37, 37);
   padding: 0px 0px 50px 0px;
}

.map {
   max-width: 1200px;
   margin: 0px auto;
   height: 500px;
}

@media (max-width:768px) {
   .map {
      height: 300px;
   }
}


.footer {
   position: relative;
   width: 100%;
   margin: 0px 0px 0px 0px;
   background-color: rgb(37, 37, 37);
   padding: 40px 0px;
}

.footer::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   top: 0;
   left: 0;
}

.footer::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #888;
   bottom: 0;
   left: 0;
}

.footer__container {
   max-width: 1200px;
   margin: 0px auto;
}

.footar__row {
   display: flex;
   padding: 10px;
   justify-content: space-between;
}

.footer__column {
   flex: 0 0 30%;
}

.header__logo2 {
   font-size: 22px;
   color: #fff;
   margin: 0px 0px 0px 0px;
}

.footer__adress {
   margin: 20px 0px 0px 0px;
   font-size: 18px;
   line-height: 28px;
   color: #fff;
}

.footer__number {
   font-size: 22px;
   color: #fff;
}

.footer__cal:hover {
   color: #24d624;
}

.footer__number svg {
   width: 20px;
   fill: #fff;
   margin: 0px 5px 0px 0px;
}

.footer__cal {
   display: block;
   color: #fff;
   font-size: 22px;
   margin: 10px 0px 0px 0px;
}

.header__logo {}

.message__row {
   display: flex;
}

.header__logo3 {
   font-size: 30px;
   color: #24d624;
}

.contact1 svg {
   width: 40px;
   fill: #fff;
}

.contact1 svg:hover {
   fill: #24d624;
}

.contact1 {
   transition: all 500ms ease 0s;
   display: block;
   margin: 20px 10px 0px 10px;
}

@media (max-width:768px) {
   .footar__row {
      flex-wrap: wrap;
   }

   .footer__column {
      flex: 1 1 auto;
   }

   .footer__number {
      margin: 20px 0px 0px 0px;
   }
}

.sub__footer {
   padding: 10px 0px;
   width: 100%;
   background-color: rgb(48, 48, 48);
}

.sub__footer__container {
   max-width: 1200px;
   margin: 0px auto;
}

.sub__footer__text {
   color: #fff;
}